@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fibonacci Pro</h1>
    <p class="lead">Fibonacci Pro calculates Fibonacci numbers from a variety of different inputs, and offers a variety of different output formats.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <input/>
    </div>
</div>
